@import url("reset.css"); /*import reset*/
/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Corinthia:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');

:root{
    --dark: #263e4a;
    --back: #ffffff;
    --border: #c99423;
    --other: #a78254;
    
    --light: #4a3931;
    --black: #242424;
    --text: #223e4a;

    
    color: var(--back);
    /*font-family: 'Bree Serif', serif;
    font-family: 'Space Mono', monospace;
    font-family: 'Lekton', sans-serif;*/
    font-family: "Darker Grotesque", sans-serif;
    text-transform: uppercase;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.site-footer {
        display: flex;
        flex-direction: column; 
        position: relative;
        justify-content: center;
        width:100%;
        bottom: 0;
        padding:2em ;
        background-color: #4a3931;
        min-height:200px;
    }
    
    
    .f-dropdown{
        border-bottom: var(--back) 2px solid;
    }

    .f-logo img{
        width: 250px;
        position: relative;
    }

    #f-menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: transparent;
        justify-content: center;
        position: relative;
        height: fit-content;
        width:100%;
    }

    
    #f-menu li{
        margin-right: 5em;
        text-align: center;
        margin-left: 2em;
        font-size: .8em;
        font-weight: bolder;
        list-style :none;
    }

    #f-menu li:first-child a:hover{
        background:none;
    }
    #f-menu li a,
    #f-menu li a:visited {
        text-decoration: none;
        display: block;
        color: var(--back);
        position: relative;
    }
    
    #f-menu li a:hover{
        color: #ffff;
        text-decoration:underline;
    }

    #f-menu li a:focus{
        color: var(--light);
        background-color: var(--black);
    }

    .f-social-icons {
        align-items: center;
        margin-top: 1em;
        list-style: none;
        position: relative;
        justify-content: center;
        display: flex;
        color: #fff;
    }
    
    .f-social-icons a svg{
        text-decoration: none;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-right: 1em;
        text-align: center;
        color: #fff;
    }
    
    .f-social-icons a:hover svg{ 
        background:none;
        color: #000;
    }

    footer span{
        display: block;
        position: relative;
        bottom: 3px;
        font-size: 10px;
        color: white;
        margin-top: 2em;
        right: 0;
        text-transform: none;
        padding-right: 1em;
    }

    footer span a{
        color: orange;
        font-weight: 700;
    }

    .gototop {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 999;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
      }
      .gototop.active {
        opacity: 1;
        visibility: visible;
      }
      .gototop a {
        width: 50px;
        height: 50px;
        display: table;
        background: rgba(0, 0, 0, 0.8);
        color: var(--back);
        text-align: center;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
      }
      .gototop a i {
        height: 50px;
        display: table-cell;
        vertical-align: middle;
      }
      .gototop a:hover, .gototop a:active, .gototop a:focus {
        text-decoration: none;
        outline: none;
        color: var(--back);
        transform: scale(1.05);
      }
      

@media screen and (max-width: 850px) {
    footer{
        display: flex;
        flex-direction: row;
        padding: 2em;
        position: relative;
        justify-content: center;
        width: 100%;
    }
    
    .f-dropdown{
        border-bottom: var(--back) 2px solid;
    }

    .f-logo img{
        width: 100px;
        position: relative;
    }

    #f-menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: transparent;
        justify-content: center;
        width: 100%;
        position: relative;
        height: fit-content;

    }
    
    #f-menu ul {
        display: flex;
        flex-direction: row;
    }
    
    #f-menu li{
        margin-right: 0em;
        text-align: center;
        margin-left: 1.2em;
        font-size: .5em;
        font-weight: bolder;
    }

    #f-menu li:first-child a:hover{
        background:none;
    }
    #f-menu li a,
    #f-menu li a:visited {
        text-decoration: none;
        display: block;
        color: var(--back);
        position: relative;
    }
    
    #f-menu li a:hover{
        color: #ffff;
    }

    #f-menu li a:focus{
        color: var(--light);
        background-color: var(--black);
    }

    .f-social-icons {
        align-items: center;
        margin-top: 1em;
        list-style: none;
        position: relative;
        justify-content: center;
        display: flex;
    }
    
    .f-social-icons a{
        text-decoration: none;
        padding: 1px;
        justify-content: center;
        align-items: center;
        color: var(--other);
        border-radius: 5px;
        position: relative;
        margin-right: .4em;
        text-align: center;
        
    }
    
    .f-social-icons a:hover { 
        background:#fff;
        color: #000
    }

    

    footer span{
        display: inline;
        position: absolute;
        bottom: 3px;
        font-size: 8px;
        color: white;
        margin-top: 2em;
        right: 0;
        text-transform: none;
        padding-right: 1em;
    }

    footer span a{
        color: orange;
        font-weight: 700;
    }

}